@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root{
    --black: #191919;
    --gray-1: #404040;
    --gray-2: #808080;
    --gray-3: #BFBFBF;
    --gray-4: #D9D9D9;
    --white: #E3E3E3;
}

*{
    font-family: 'Inter', Arial, sans-serif;
    user-select: none;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    color: var(--white);
}

body{
    width: 100vw;
    height: 100dvh;
    background: linear-gradient(45deg, var(--black) 0%, var(--white) 100%);
    display: flex;
    justify-content: center;
}

main{
    width: 90%;
    height: 100%;
    flex-direction: column;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

section{
    width: 100%;
    background-color: var(--gray-2);
    border-radius: 1.25rem;
    padding: 1.5rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

section:first-child h1{
    text-align: center;
    font-size: 1.3rem;
    font-weight: 800;
}

.section-inputs{
    height: 40%;
    justify-content: space-between;
}
.inputs{
    height: 75%;
    padding-bottom: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.inputs div{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.like-this{
    font-size: 1.2rem;
    font-weight: 800;
    padding: 0.8rem 0rem;
}

.inputs div span{
    font-size: 0.9rem;
    font-weight: 900;
}

.inputs div input{
    width: 33%;
    height: 2.5rem;
    background-color: var(--gray-4);
    border: none;
    border-radius: 0.7rem;
    text-align: center;
    font-weight: 900;
    font-size: 1rem;
    color: var(--black);
}

.inputs div input::-webkit-outer-spin-button,
.inputs div input::-webkit-inner-spin-button {
    display: none;
    -webkit-appearance: none;
}

.inputs div input[type=number] {
    -moz-appearance:textfield;
}

.inputs div input:focus{
    outline: none;
    background-color: #BFBFBFAA;
}

.inputs div input:disabled{
    background-color: var(--gray-3);
}

.inputs div input:disabled::placeholder{
    width: 100%;
}

.arrow-right{
    display: none;
}

.section-inputs button{
    width: 100%;
    border: none;
    border-radius: 0.9rem;
    padding: 1.1rem 0rem;
    background-color: var(--black);
    cursor: pointer;
}

.section-inputs button span{
    font-size: 1.5rem;
    font-weight: 800;
    background-image: linear-gradient(45deg, var(--white), var(--gray-2));
    background-clip: text;
    -moz-background-clip: text;
    -webkit-background-clip: text;
    background-size: 400% 100%;
    animation: effect-gradient 3s infinite linear alternate;
    color: transparent;
}

.section-inputs button:focus{
    outline: none;
    border: none;
}

.media{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.media a{
    padding: 0;
    margin: 0;
    width: 1.8rem;
    display: flex;
}

.media a img{
    width: 100%;
}

dialog{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 50%;
    outline: none;
    box-shadow: 5px 5px 3px var(--black);
    border-radius: .5rem;
    background-color: var(--gray-4);
    border: none;
}

dialog::backdrop{
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
}

.title_modal{
    width: 100%;
    height: 15%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: .3rem .8rem;
    background-color: var(--gray-3);
}

.title_modal h1{
    color: var(--black);
    font-size: 1.5rem;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.title_modal img{
    width: 1.5rem;
}

.body_modal{
    width: 100%;
    height: 85%;
    padding: 0% 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.body_modal *{
    color: var(--black);
    text-align: center;
}

.body_modal .process{
    padding: 5% 20%;
    border-radius: 1rem;
    background-color: var(--gray-3);
    box-shadow: 3px 3px 3px #bfbfbf42;
}

.body_modal .process p{
    font-size: large;
    font-weight: 700;
}

.body_modal .process p:not(:first-child, :last-child){
    border-top: solid 1px var(--gray-2);
}

.body_modal .process p:last-child{
    border: solid 2px rgb(9, 70, 14);
    border-radius: .3rem;
}

.body_modal h1{
    font-size: 1.5rem;
    padding: .5rem;
    margin-bottom: 1.5rem;
    border-radius: 1rem;
    background-color: var(--black);
    color: var(--white);
}

.body_modal .result h1{
    margin: 0px;
    background-color: rgb(9, 70, 14);
    box-shadow: 3px 3px 4px rgba(9, 70, 14, 0.25);
}

.body_modal:has(.error){
    background-color: #690808;
}

.body_modal .error *{
    color: var(--white);
}

@media (min-width: 768px) {
    main{
        width: 80%;
    }

    section:first-child h1{
        font-size: 2rem;
    }

    .inputs{
        width: 90%;
    }

    .inputs div input{
        width: 30%;
        height: 3rem;
    }

    .inputs div span{
        font-size: 1.6rem;
    }

    .like-this{
        font-size: 2rem;
    }

    .arrow-right{
        width: 5rem;
        display: block;
    }

    .section-inputs button{
        width: 90%;
    }

    .section-inputs button span{
        font-size: 2rem;
    }

    dialog{
        width: 50%;
    }

    .title_modal h1{
        font-size: 2rem;
    }

    .title_modal img{
        width: 1.7rem;
    }

    .media{
        padding: 1rem;
    }

    .media a{
        width: 2.5rem;
    }
}

@keyframes effect-gradient {
    0%{
        background-position-x: 0%;
    }
    100%{
        background-position-x: 100%;
    }
}